// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$primary: #72adff;

html {
    scroll-behavior: smooth;
    body {
        .hero {
            background: url("../../public/images/hero.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 95vh;
            margin-top: -1.5rem;
        }

        .line {
            border-bottom: $primary solid 3px;
            width: 250px;
            height: 0;
            margin: 1rem auto;
        }
    }
}
